@media (min-width: 320px) {
  .smaller-image {
    width: 100px;
  }
}
@media (min-width: 768px) {
  .smaller-image {
    width: 200px;
  }
}
body {
  background-color: rgb(214, 245, 255);
}
ul {
  list-style: none;
}
h1 {
  color: cadetblue;
  font-size: 40px;
  font-family: Raleway;
  background-color: #9FE2BF;
  padding-top: 40px;
  margin-top: 7rem;
}
h2 {
  color: cadetblue;
  font-size: 30px;
  font-family: Raleway;
}
h3 {
  color: cadetblue;
  font-size: 25px;
  font-family: Raleway;
}
p {
  color: gray;
  font-size: 20px;
  font-family: monospace;
}
a {
  color: gray;
  font-size: 20px;
  font-family: monospace;
}
td, th {
  border: 1px solid darkblue;
  text-align: left;
  padding: 8px;
}
.default-text {
  color: rgb(128, 128, 128);
  font-size: 20px;
  font-family: monospace;
}
.blog-heading {
  display:inline-block;
  background-color: #9FE2BF;
  padding: 0rem 2rem 0rem 2rem;
}
.smaller-image {
  width: 400px;
  position: relative; 
  left: 40px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 223, 163);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.nav-list {
  display: flex;
  margin-right: 2rem;
}
.nav-list a {
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
}

.nav-list a:hover {
  background: var(--main-blue);
}
.contact {
  padding-right: 2rem;
}
